<div class="fixed top-0 left-0 w-full z-10 bg-white">
  <div class="flex w-full justify-between items-center p-6">
    <div class="max-w-xs">
      ART
    </div>

    <nav class="flex-1 ml-20">
      <art-app-nav-link link="/dashboard">
        Dashboard
      </art-app-nav-link>
      <art-app-nav-link link="/vr">
        Visual Regression
      </art-app-nav-link>
      <art-app-nav-link link="/apps">
        Applications
      </art-app-nav-link>
    </nav>

    <div class="ml-auto flex items-center">
      <div *ngIf="apps?.length">
        <art-select-menu
          class="w-8"
          label="Application"
          [options]="apps"
          [value]="appContext"
        ></art-select-menu>
      </div>

      <art-app-nav-user class="ml-auto" [user]="user"></art-app-nav-user>
    </div>
  </div>
</div>
