# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/coverage
npm-debug.log
yarn-error.log
/typings

# System Files
.DS_Store
Thumbs.db