<div
  class="w-full h-screen fixed top-0 left-0 flex items-center justify-center z-10"
>
  <div
    class="bg-white w-600 rounded z-20 pt-4 relative"
    style="padding-bottom: 30px;"
    [ngClass]="{
      'w-500': config?.size === 'sm',
      'w-600': config?.size === 'md',
      'w-1200': config?.size === 'lg'
    }"
  >
    <div class="p-8 pb-2">
      <div class="flex justify-end mb-2">
        <button
          class="flex items-center border-0"
          type="button"
          (click)="closeModal()"
          title="Close Modal"
        >
          <span class="text-black font-bold text-sm mr-3">
            CLOSE
          </span>
          <img
            width="18"
            height="18"
            src="assets/img/close.svg"
            alt="Close"
          />
        </button>
      </div>
      <h3 class="flex-1 mb-0" *ngIf="config?.title">
        {{ config.title }}
      </h3>
    </div>
    <div class="p-8 pt-0 pb-4">
      <ng-content></ng-content>
    </div>
    <div class="p-8 pt-0 flex items-center" *ngIf="config.footer">
      <ng-container
        *ngIf="status; then statusTpl; else noStatusTpl"
      ></ng-container>
      <ng-template #statusTpl>
        <gat-progress-button
          [updating]="status === statuses.Loading"
          [disabled]="
            config.primaryButtonDisabled !== undefined
              ? config.primaryButtonDisabled
              : !form.valid || status === statuses.Loading
          "
          [label]="config.primaryButtonText || 'SUBMIT'"
          (clicked)="
            (config.primaryButtonDisabled !== undefined
              ? true
              : form && form.valid) && config.handleSubmit(form.value)
          "
        ></gat-progress-button>
      </ng-template>

      <ng-template #noStatusTpl>
        <button
          class="btn btn-md"
          type="button"
          (click)="
            (config.primaryButtonDisabled !== undefined
              ? true
              : form && form.valid) && config.handleSubmit(form.value)
          "
          [disabled]="
            config.primaryButtonDisabled !== undefined
              ? config.primaryButtonDisabled
              : !form.valid
          "
        >
          {{ config.primaryButtonText || 'SUBMIT' }}
        </button>
      </ng-template>
      <button
        class="btn btn-link ml-8 text-black"
        type="button"
        (click)="closeModal()"
        *ngIf="config.hideSecondButton !== true"
      >
        CANCEL
      </button>
    </div>
  </div>

  <div
    class="w-full h-full bg-black opacity-75 fixed top-0 left-0 z-10"
    (click)="closeModal()"
  ></div>
</div>
