<div class="floating-label-group select-menu">
  <select
    #selectElement
    (change)="selectOption($event)"
    [disabled]="disabled"
  >
    <option value="" disabled selected></option>
    <option
      *ngFor="let option of options"
      [value]="option[keyField] || option"
      [selected]="
        inputValue && (option[keyField] == inputValue || option == inputValue)
          ? true
          : null
      "
    >
      {{ option[valueField] || option }}
    </option>
  </select>
  <label
    [for]="label"
    class="floating-label"
    [class.is-active]="!!inputValue"
    >{{ label }}</label
  >
  <gat-loading-indicator *ngIf="loading"></gat-loading-indicator>
</div>
