<art-page-content>
  <ng-container [ngSwitch]="status$ | async">
    <ng-container *ngSwitchCase="statuses.Loading">
      <art-loading-indicator></art-loading-indicator>
    </ng-container>

    <ng-container *ngSwitchCase="statuses.Failure">
      Failed to load. Please try again.
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div class="mt-10" *ngIf="context$ | async as vr">
        <div class="flex mb-4">
          <div class="">
            <h4 class="m-0">
              Visual Regression Suite
            </h4>
            <small>{{ vr.id }}</small>
          </div>
          <div class="ml-auto">
            <art-select-menu
              class="w-8"
              label="Sort"
              [options]="[]"
            ></art-select-menu>
          </div>
        </div>
        <art-visual-regression-metadata
          [vr]="vr"
        ></art-visual-regression-metadata>
        <div class="flex flex-wrap mt-8 -mx-4">
          <art-visual-regression-result
            class="inline-block md:w-1/3 lg:w-1/3 mb-10"
            [result]="result"
            *ngFor="let result of vr.results"
          ></art-visual-regression-result>
        </div>
      </div>
    </ng-container>
  </ng-container>
</art-page-content>
